@font-face {
  font-family: "VCR";
  src: url(VCR_OSD_MONO.3accb690.ttf);
}
@font-face {
  font-family: "MajorMono";
  src: url(MajorMonoDisplay-Regular.8819f9c3.ttf);
}
html {
  scroll-behavior: smooth;
}
:root {
  --positive: white;
  --negative: black;
  --theme-1-primary: #5dcaca;
  --theme-2-primary: #cf48cf;
  --theme-3-primary: #c0c03b;
  --theme-4-primary: gainsboro;
  --line-color: #c54d4d;
}
.dark {
  --positive: white;
  --negative: black;
  --theme-1-primary: #5dcaca;
  --theme-2-primary: #cf48cf;
  --theme-3-primary: #c0c03b;
  --theme-4-primary: gainsboro;
  --line-color: #c54d4d;
}
.light {
  --positive: black;
  --negative: white;
  --theme-1-primary: #a23535;
  --theme-2-primary: #30b730;
  --theme-3-primary: #3f3fc4;
  --theme-4-primary: darkgray;
  --line-color: #3ab2b2;
}
* {
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
body {
  background-color: var(--negative);
  transition: background-color 1.5s ease-in;
  pointer-events: none;
  font-family: "Courier New", Courier, monospace;
}
body.games {
  transition: background-color 0.8s ease-in;
  background-color: #236b6b;
}
body.music {
  transition: background-color 0.8s ease-in;
  background-color: #641a64;
}
body.art {
  transition: background-color 0.8s ease-in;
  background-color: #4b4b17;
}
body.me {
  transition: background-color 0.8s ease-in;
  background-color: #909090;
}
body.games.light {
  transition: background-color 0.8s ease-in;
  background-color: #a23535;
}
body.music.light {
  transition: background-color 0.8s ease-in;
  background-color: #258f25;
}
body.art.light {
  transition: background-color 0.8s ease-in;
  background-color: #3f3fc4;
}
body.me.light {
  transition: background-color 0.8s ease-in;
  background-color: darkgray;
}
#background {
  pointer-events: none;
  background-image: url(static.e279590a.gif);
  background-size: cover;
  background-position: center;
  position: fixed;
  opacity: 30%;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.layer {
  background-color: var(--negative);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*transition: 10s ease-in;*/
  animation: bg_layer_fade 4s ease-in forwards;
  pointer-events: none;
  z-index: 100;
}
#title {
  pointer-events: all;
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
  position: fixed;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
#title:hover div {
  transition: text-shadow 1s ease-out;
  text-shadow: var(--theme-1-primary) 5px 10px, var(--theme-2-primary) 10px 20px, var(--theme-3-primary) 15px 30px;
  font-weight: bold;
}
#title div {
  font-size: 32px;
  font-style: italic;
  color: var(--positive);
  position: relative;
  display: flex;
  transition: text-shadow 0.2s ease-in;
}
#color-mode {
  position: fixed;
  bottom: 30px;
  left: 20px;
  overflow: hidden;
}
#color-mode svg {
  color: var(--positive);
}
#color-mode svg.current-mode {
  display: block;
}
#color-mode svg.other-mode {
  display: none;
}
#color-mode:hover svg.current-mode {
  display: none;
}
#color-mode:hover svg.other-mode {
  display: block;
}
#main-nav {
  position: fixed;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.8s ease-in-out, width 0.8s ease-in-out;
  overflow: hidden;
  z-index: 5;
}
#main-nav li {
  transform: translateZ(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4vw;
}
#main-nav div.float {
  z-index: 1;
  display: flex;
  flex-direction: row;
  margin: 20px;
  transition: 0.2s ease-in;
  animation: floaty 3s ease-in-out infinite;
  text-align: center;
}
#main-nav div a p {
  position: absolute;
  color: var(--positive);
  font-size: 32px;
  transition: 0.2s ease-in;
  width: 60%;
  margin: 0px auto;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  text-align: center;
  vertical-align: center;
  opacity: 100%;
}
#main-nav div:hover a p {
  transition: 0.2s ease-in;
  opacity: 100%;
}
#main-nav a {
  color: var(--positive);
  text-decoration: none;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  white-space: nowrap;
  z-index: 1;
  text-align: center;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}
#main-nav.compact {
  height: 10vh;
  transition: height width 0.3s ease-in-out;
}
#main-nav.compact li {
  padding: 1vw;
}
#main-nav.compact div.float {
  margin: 0px;
  transition: 0.3s ease-in-out;
  text-align: center;
}
#main-nav li {
  transition: 1s ease-in-out;
}
#main-nav li:hover {
  transform: translate(-23px, 0px);
  transition: 1s ease-in-out;
}
#main-nav .Icon {
  font-size: 60px;
  padding: 0px;
  margin: 0px;
  transition: text-shadow 0.2s ease-in, font-size 0.4s ease-in;
}
#main-nav .box-label {
  color: var(--negative);
  letter-spacing: 10px;
  text-decoration: none;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-size: 64px;
  margin: 0;
  white-space: nowrap;
  z-index: 1;
  text-align: center;
  font-style: normal;
  width: 100%;
  height: 0px;
  opacity: 0%;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  pointer-events: none;
  transition: letter-spacing 0.8s ease-in, height 0.8s ease-in, opacity 0.8s ease-in, margin 0.8s ease-in;
}
#main-nav .hover-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  pointer-events: all;
  transition: 1.8s ease-in;
}
#main-nav .shadow-bar {
  width: 100%;
  height: 84px;
  padding: 0px;
  margin: 0px;
  gap: 50vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  transform: rotate(90deg);
  transition: 1s ease-in;
  opacity: 100%;
}
#main-nav .shadow-bar li {
  white-space: nowrap;
  display: inline-block;
  width: fit-content;
  height: 100%;
  padding: 0px;
  margin: 0px;
  transition: 0.4s ease-in-out;
}
#main-nav .shadow-bar li a {
  color: var(--negative);
  font-family: "Courier New", Courier, monospace;
  font-size: 48px;
  padding: 0px 20px;
  margin: 0px;
}
#main-nav .shadow-bar li:hover {
  transition: 0.2s ease-in-out;
  transform: translate(-10px, 10px);
}
#main-nav .shadow {
  margin-left: -84px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0%;
  width: 84px;
  height: 200vh;
  pointer-events: none;
  transition: 1s ease-in;
  transform: rotateY(-90deg) translateZ(-42px);
  z-index: 1;
}
#main-nav #games .shadow {
  background-color: #559f9f;
}
#main-nav #games .shadow-bar li {
  background-color: #309191;
}
#main-nav #games .shadow-bar li:hover {
  background-color: #4ec5c5;
  box-shadow: #309191 10px -10px;
}
#main-nav #games:hover .hover-bg {
  padding: 2px;
  background-color: rgba(93, 202, 202, 0.5);
  /*var(--theme-1-primary);*/
  transition: background-color 0.2s ease-in-out, height 0.5s ease-in-out;
  pointer-events: all;
}
#main-nav #music .shadow {
  background-color: #9e469e;
}
#main-nav #music .shadow-bar li {
  background-color: #8c258c;
}
#main-nav #music .shadow-bar li:hover {
  background-color: #cb38cb;
  box-shadow: #8c258c 10px -10px;
}
#main-nav #music:hover .hover-bg {
  padding: 2px;
  background-color: rgba(207, 72, 207, 0.5);
  height: 200vw;
  transition: background-color 0.2s ease-in-out, height 0.5s ease-in-out;
  pointer-events: all;
}
#main-nav #art .shadow {
  background-color: #858543;
}
#main-nav #art .shadow-bar li {
  background-color: #727223;
}
#main-nav #art .shadow-bar li:hover {
  background-color: #b0b036;
  box-shadow: #727223 10px -10px;
}
#main-nav #art:hover .hover-bg {
  padding: 2px;
  background-color: rgba(192, 192, 59, 0.5);
  height: 200vw;
  transition: background-color 0.2s ease-in-out, height 0.5s ease-in-out;
  pointer-events: all;
}
#main-nav #me .shadow {
  background-color: #c3c3c3;
}
#main-nav #me .shadow-bar li {
  background-color: darkgray;
}
#main-nav #me .shadow-bar li:hover {
  background-color: #d2d2d2;
  box-shadow: darkgray 10px -10px;
}
#main-nav #me:hover .hover-bg {
  padding: 2px;
  background-color: rgba(220, 220, 220, 0.5);
  height: 200vw;
  transition: background-color 0.2s ease-in-out, height 0.5s ease-in-out;
  pointer-events: all;
}
#main-nav :hover .box-label {
  letter-spacing: 20px;
  white-space: nowrap;
  z-index: 1;
  text-align: center;
  font-style: normal;
  transition: 0.5s ease-in-out;
  margin-top: 20px;
  height: 300px;
  opacity: 100%;
  pointer-events: all;
}
#main-nav :hover .shadow {
  pointer-events: all;
  opacity: 60%;
  height: 200vh;
  transition: 0.5s ease-in-out;
}
#main-nav :hover .shadow .shadow-bar {
  transition: 0.5s ease-in-out;
  opacity: 100%;
  gap: 0px;
}
#main-nav :hover .rotate {
  transform: rotateY(30deg) rotateX(20deg);
  transition: 0.5s ease-in-out;
}
#main-nav :hover .rotate.showmenu {
  transform: rotateY(70deg) rotateX(20deg);
  transition: 0.3s ease-in-out;
}
#main-nav.compact :hover .box-label {
  height: 0px;
  opacity: 0%;
  pointer-events: all;
}
#main-nav.compact .shadow {
  pointer-events: none;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
#main-nav.compact .Icon {
  font-size: 32px;
  transition: text-shadow 0.2s ease-in, font-size 0.4s ease-in;
}
#main-nav.compact #games:hover .hover-bg {
  padding: 2px;
  background-color: rgba(93, 202, 202, 0);
  /*var(--theme-1-primary);*/
  transition: background-color 0.2s ease-in-out, height 0.5s ease-in-out;
  pointer-events: all;
}
#main-nav.compact #games:hover .hover-bg .Icon {
  text-shadow: var(--theme-1-primary) 2.8px 0px, var(--theme-1-primary) -2.8px 0px, var(--theme-1-primary) 0px 2.8px, var(--theme-1-primary) 0px -2.8px, var(--theme-1-primary) 2px 2px, var(--theme-1-primary) 2px -2px, var(--theme-1-primary) -2px 2px, var(--theme-1-primary) -2px -2px;
}
#main-nav.compact #music:hover .hover-bg {
  padding: 2px;
  background-color: rgba(207, 72, 207, 0);
  height: 200vw;
  transition: background-color 0.2s ease-in-out, height 0.5s ease-in-out;
  pointer-events: all;
}
#main-nav.compact #music:hover .hover-bg .Icon {
  text-shadow: var(--theme-2-primary) 2px 2px, var(--theme-2-primary) 2px -2px, var(--theme-2-primary) -2px 2px, var(--theme-2-primary) -2px -2px;
}
#main-nav.compact #art:hover .hover-bg {
  padding: 2px;
  background-color: rgba(192, 192, 59, 0);
  height: 200vw;
  transition: background-color 0.2s ease-in-out, height 0.5s ease-in-out;
  pointer-events: all;
}
#main-nav.compact #art:hover .hover-bg .Icon {
  text-shadow: var(--theme-3-primary) 2.8px 0px, var(--theme-3-primary) -2.8px 0px, var(--theme-3-primary) 0px 2.8px, var(--theme-3-primary) 0px -2.8px, var(--theme-3-primary) 2px 2px, var(--theme-3-primary) 2px -2px, var(--theme-3-primary) -2px 2px, var(--theme-3-primary) -2px -2px;
}
#main-nav.compact #me:hover .hover-bg {
  padding: 2px;
  background-color: rgba(220, 220, 220, 0);
  height: 200vw;
  transition: background-color 0.2s ease-in-out, height 0.5s ease-in-out;
  pointer-events: all;
}
#main-nav.compact #me:hover .hover-bg .Icon {
  text-shadow: var(--theme-4-primary) 2.8px 0px, var(--theme-4-primary) -2.8px 0px, var(--theme-4-primary) 0px 2.8px, var(--theme-4-primary) 0px -2.8px, var(--theme-4-primary) 2px 2px, var(--theme-4-primary) 2px -2px, var(--theme-4-primary) -2px 2px, var(--theme-4-primary) -2px -2px;
}
#main-nav.compact li {
  transition: 1s ease-in-out;
}
#main-nav.compact li:hover {
  transform: translate(0px, 0px);
  transition: 1s ease-in-out;
}
#main-nav.compact .rotate {
  transition: 0.4s ease-in-out;
}
#main-nav.compact :hover .rotate {
  transform: rotateY(30deg) rotateX(20deg) translateY(10px) translateX(-15px);
  transition: 0.3s ease-in-out;
}
.light #main-nav.compact :hover .box-label {
  height: 0px;
  opacity: 0%;
  pointer-events: all;
}
.light #main-nav.compact .shadow {
  pointer-events: none;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.light #main-nav.compact .Icon {
  font-size: 32px;
  transition: text-shadow 0.2s ease-in, font-size 0.4s ease-in;
}
.light #main-nav.compact #games:hover .hover-bg {
  padding: 2px;
  background-color: rgba(93, 202, 202, 0);
  /*var(--theme-1-primary);*/
  transition: background-color 0.2s ease-in-out, height 0.5s ease-in-out;
  pointer-events: all;
}
.light #main-nav.compact #games:hover .hover-bg .Icon {
  text-shadow: var(--theme-1-primary) 2.8px 0px, var(--theme-1-primary) -2.8px 0px, var(--theme-1-primary) 0px 2.8px, var(--theme-1-primary) 0px -2.8px, var(--theme-1-primary) 2px 2px, var(--theme-1-primary) 2px -2px, var(--theme-1-primary) -2px 2px, var(--theme-1-primary) -2px -2px;
}
.light #main-nav.compact #music:hover .hover-bg {
  padding: 2px;
  background-color: rgba(207, 72, 207, 0);
  height: 200vw;
  transition: background-color 0.2s ease-in-out, height 0.5s ease-in-out;
  pointer-events: all;
}
.light #main-nav.compact #music:hover .hover-bg .Icon {
  text-shadow: var(--theme-2-primary) 2px 2px, var(--theme-2-primary) 2px -2px, var(--theme-2-primary) -2px 2px, var(--theme-2-primary) -2px -2px;
}
.light #main-nav.compact #art:hover .hover-bg {
  padding: 2px;
  background-color: rgba(192, 192, 59, 0);
  height: 200vw;
  transition: background-color 0.2s ease-in-out, height 0.5s ease-in-out;
  pointer-events: all;
}
.light #main-nav.compact #art:hover .hover-bg .Icon {
  text-shadow: var(--theme-3-primary) 2.8px 0px, var(--theme-3-primary) -2.8px 0px, var(--theme-3-primary) 0px 2.8px, var(--theme-3-primary) 0px -2.8px, var(--theme-3-primary) 2px 2px, var(--theme-3-primary) 2px -2px, var(--theme-3-primary) -2px 2px, var(--theme-3-primary) -2px -2px;
}
.light #main-nav.compact #me:hover .hover-bg {
  padding: 2px;
  background-color: rgba(220, 220, 220, 0);
  height: 200vw;
  transition: background-color 0.2s ease-in-out, height 0.5s ease-in-out;
  pointer-events: all;
}
.light #main-nav.compact #me:hover .hover-bg .Icon {
  text-shadow: var(--theme-4-primary) 2.8px 0px, var(--theme-4-primary) -2.8px 0px, var(--theme-4-primary) 0px 2.8px, var(--theme-4-primary) 0px -2.8px, var(--theme-4-primary) 2px 2px, var(--theme-4-primary) 2px -2px, var(--theme-4-primary) -2px 2px, var(--theme-4-primary) -2px -2px;
}
.light #main-nav.compact li {
  transition: 1s ease-in-out;
}
.light #main-nav.compact li:hover {
  transform: translate(0px, 0px);
  transition: 1s ease-in-out;
}
.light #main-nav.compact .rotate {
  transition: 0.4s ease-in-out;
}
.light #main-nav.compact :hover .rotate {
  transform: rotateY(30deg) rotateX(20deg) translateY(10px) translateX(-15px);
  transition: 0.3s ease-in-out;
}
.light #main-nav #games .shadow {
  background-color: #6b3939;
}
.light #main-nav #games .shadow-bar li {
  background-color: #551c1c;
}
.light #main-nav #games .shadow-bar li:hover {
  background-color: #933030;
  box-shadow: #551c1c 10px -10px;
}
.light #main-nav #games:hover .hover-bg {
  background-color: rgba(162, 53, 53, 0.5);
}
.light #main-nav #music .shadow {
  background-color: #377d37;
}
.light #main-nav #music .shadow-bar li {
  background-color: #1b661b;
}
.light #main-nav #music .shadow-bar li:hover {
  background-color: #2ca72c;
  box-shadow: #1b661b 10px -10px;
}
.light #main-nav #music :hover .hover-bg {
  background-color: rgba(48, 183, 48, 0.5);
}
.light #main-nav #art .shadow {
  background-color: #46468a;
}
.light #main-nav #art .shadow-bar li {
  background-color: #252578;
}
.light #main-nav #art .shadow-bar li:hover {
  background-color: #3838b7;
  box-shadow: #252578 10px -10px;
}
.light #main-nav #art :hover .hover-bg {
  background-color: rgba(63, 63, 196, 0.5);
}
.light #main-nav #me .shadow {
  background-color: #909090;
}
.light #main-nav #me .shadow-bar li {
  background-color: #767676;
}
.light #main-nav #me .shadow-bar li:hover {
  background-color: #9f9f9f;
  box-shadow: #767676 10px -10px;
}
.light #main-nav #me :hover .hover-bg {
  background-color: rgba(169, 169, 169, 0.5);
}
.interact {
  pointer-events: all;
}
#scrollthing {
  position: fixed;
  width: 100%;
  bottom: 10px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
#scrollthing p {
  display: inline-block;
  color: var(--positive);
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  opacity: 60%;
  text-shadow: 0px 1px var(--theme-1-primary), 0px -1px var(--theme-2-primary), 1px 0px var(--theme-3-primary), -1px 0px var(--line-color);
  overflow: hidden;
  transition: color 1s ease-in-out;
}
#scrollthing div {
  position: absolute;
  left: 10px;
  opacity: 40%;
  color: var(--positive);
  text-shadow: 0px 1px var(--theme-1-primary), 0px -1px var(--theme-2-primary), 1px 0px var(--theme-3-primary), -1px 0px var(--line-color);
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
}
.rotate {
  pointer-events: none;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  transition: 1s ease-in;
}
.hover-bg {
  margin: 0;
  padding: 0;
  height: 200vh;
  width: 84px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  pointer-events: none;
  transform: translateZ(42px);
  transition: 1s ease-in;
}
#main h1 {
  color: var(--positive);
}
.logo img {
  width: 150px;
  height: auto;
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}
.message {
  display: none;
  margin: auto;
  text-align: center;
}
.message a {
  color: var(--positive);
}
#particles-dark {
  pointer-events: all;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 50%;
  z-index: -4;
  clip-path: inset(0 0 0 0);
  transition: opacity ease-in 1.5s;
}
.light #particles-dark {
  opacity: 0%;
  pointer-events: none;
}
#particles-light {
  pointer-events: all;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 50%;
  z-index: -4;
  clip-path: inset(0 0 0 0);
  transition: opacity ease-in 1.5s;
}
.dark #particles-light {
  opacity: 0%;
  pointer-events: none;
}
#games {
  animation: floaty 3s ease-in-out 0.5s infinite;
}
#music {
  animation: floaty 3.2s ease-in-out 0s infinite;
}
#art {
  animation: floaty 2.8s ease-in-out 0.2s infinite;
}
#me {
  animation: floaty 2.4s ease-in-out 0.8s infinite;
}
@keyframes floaty {
  from {
    transform: translate(0, 0px);
  }
  55% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, 0px);
  }
}
@keyframes bg_layer_fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
/*# sourceMappingURL=index.b7261473.css.map */
