.maingames {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.maingames .title {
  color: var(--theme-1-primary);
  font-family: "VCR";
  font-size: 100px;
  text-align: end;
  transition: 0.2s ease-in-out;
  margin-top: 200px;
}

.maingames .section {
  color: var(--theme-1-primary);
  font-size: 100px;
  height: 900px;
  text-align: center;
  transition: 0.2s ease-in-out;
  font-family: "VCR";
  font-size: 50px;
}

#launchScale {
  transform: scale(1);
  transition: 0.5s ease-out;
}

#launchScale.closed {
  transform: scale(0);
  transition: 0.5s ease-in;
}

#launchThing {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 600px;
  height: 400px;
  background-color: #9badb7;
  border: solid;
  border-width: 36px;
  border-image: url(window.b9393e80.png) 36;
  pointer-events: all;
  animation: wiggle-float-window 5s ease-in-out infinite;
}

#launchTitle {
  color: white;
  font-family: "cappx";
  font-size: 64px;
  position: absolute;
  left: -24px;
  top: -54px;
}

#launchMinimize {
  cursor: pointer;
  position: absolute;
  background-image: url(minimize.04224b7a.png);
  height: 32px;
  width: 32px;
  top: -32px;
  right: 20px;
}

#launchMinimize:hover {
  background-image: url(minimize_hover.37f0253b.png);
}

#launchClose {
  cursor: pointer;
  position: absolute;
  background-image: url(close.7b19d13a.png);
  height: 32px;
  width: 32px;
  top: -32px;
  right: -20px;
}

#launchClose:hover {
  background-image: url(close_hover.d0c8cac5.png);
}

#okbutton {
  cursor: pointer;
  background-image: url(ok.cb51c2ef.png);
  background-size: 200px 100px;
  image-rendering: pixelated;
  height: 100px;
  width: 200px;
  position: absolute;
  left: 25%;
  top: 60%;
  transform: translateX(-50%) translateY(0);
  transition: 0.3s ease-in-out;
}

#okbuttonfloor {
  background-image: url(ok_floor.43e81a17.png);
  background-size: 200px 100px;
  image-rendering: pixelated;
  height: 100px;
  width: 200px;
  position: absolute;
  left: 25%;
  top: calc(60% + 16px);
  transform: translateX(-50%) translateY(0);
  z-index: -1;
}

#okbutton:hover {
  transform: translateX(-50%) translateY(16px);
}

#nobutton {
  cursor: pointer;
  background-image: url(no.8e7e8a27.png);
  background-size: 200px 100px;
  image-rendering: pixelated;
  height: 100px;
  width: 200px;
  position: absolute;
  left: 75%;
  top: 60%;
  transform: translateX(-50%) translateY(0);
  transition: 0.3s ease-in-out;
}

#nobuttonfloor {
  background-image: url(no_floor.d5a86411.png);
  background-size: 200px 100px;
  image-rendering: pixelated;
  height: 100px;
  width: 200px;
  position: absolute;
  left: 75%;
  top: calc(60% + 16px);
  transform: translateX(-50%) translateY(0);
  z-index: -1;
}

#nobutton:hover {
  transform: translateX(-50%) translateY(16px);
}

#launchLabel {
  position: absolute;
  width: 600px;
  height: 150px;
  background-size: 600px 150px;
  top: 20%;
  image-rendering: pixelated;
  background-image: url(launch.f3771033.png);
}

#windowThing {
  position: relative;
  height: 100%;
  width: 100%;
}

#exe {
  cursor: pointer;
  pointer-events: all;
  position: absolute;
  background-image: url(exe.3b07f15b.png);
  image-rendering: pixelated;
  height: 64px;
  width: 64px;
  background-size: 64px 64px;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
  margin-top: auto;
  animation: wiggle-float-window 5s ease-in-out infinite;
  transition: 0.3s ease-in-out;
}

#exe div {
  color: var(--positive);
  position: absolute;
  font-family: "cappx";
  font-size: 48px;
  text-align: center;
  image-rendering: pixelated;
  top: 95%;
  line-height: 20px;
  transform: translateX(-12px);
}

@keyframes wiggle-float-window {
  from {
    transform: translate(0, 0px) rotate(-3deg);
  }
  55% {
    transform: translate(0, 8px) rotate(3deg);
  }
  to {
    transform: translate(0, 0px) rotate(-3deg);
  }
}
/*# sourceMappingURL=index.ffaa410d.css.map */
