@font-face {
  font-family: Abril;
  src: url("AbrilFatface.f36915de.ttf");
}

@font-face {
  font-family: Lobster;
  src: url("Lobster.4b2e9b16.ttf");
}

@font-face {
  font-family: Architects;
  src: url("Architects.44ed839e.ttf");
}

.mainart {
  color: var(--negative);
  width: 100%;
  height: auto;
  font-family: Abril, Courier New, Courier, monospace;
  transition: color .2s ease-in;
  position: absolute;
  overflow: hidden;
}

.mainart svg {
  height: 0;
}

#arttitle {
  color: var(--theme-3-primary);
  text-align: center;
  text-shadow: 0 5px #727223, 0 10px #727223, 0 15px #727223, 0 20px #727223, 0 25px #727223, 0 30px #727223;
  width: 100%;
  height: 700px;
  font-family: Abril, Courier New, Courier, monospace;
  font-size: 600px;
  transition: all .2s ease-in-out;
  display: block;
  position: relative;
  top: 4%;
}

.light #arttitle {
  text-shadow: 0 5px #252578, 0 10px #252578, 0 15px #252578, 0 20px #252578, 0 25px #252578, 0 30px #252578;
}

#gallery {
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 120px;
  max-width: 100%;
  height: auto;
  margin: 80px 80px 500px;
  display: flex;
  position: relative;
  top: 200px;
}

#gallery .image {
  vertical-align: bottom;
  color: var(--theme-3-primary);
  border: 24px solid;
  width: auto;
  height: auto;
  margin: auto;
  transition: all .2s ease-in;
}

.imagetitle {
  font-size: 36px;
  position: relative;
  left: 0;
}

.imagedate {
  font-size: 24px;
  position: relative;
  top: -5px;
}

#gallery span {
  pointer-events: all;
  width: 400px;
  height: 400px;
}

#gallery span .image {
  filter: grayscale();
  transition: all 180s;
}

#gallery span .image:hover {
  filter: grayscale(0);
  transition: all 1s;
}

.gallerytitle {
  top: 0;
}

.galleryitem.rotated {
  writing-mode: vertical-rl;
  transform: rotate(90deg);
}

#arttitlecanvas {
  pointer-events: all;
  filter: url("#goo");
  position: relative;
  top: 0;
  left: 0;
}

#websiteart {
  color: var(--theme-3-primary);
  pointer-events: all;
  border: 100px solid;
  width: 1000px;
  height: 1000px;
  transition: color .2s ease-in;
  animation: 3.4s ease-in-out infinite wiggle-float-iframe;
  position: relative;
  top: -400px;
  left: -400px;
  transform: scale(.4);
}

.subtitle {
  color: var(--theme-3-primary);
  text-align: center;
  width: 100%;
  font-size: 48px;
}

.iframetitle {
  font-size: 36px;
  position: absolute;
  top: calc(100% + 34px);
  left: -36px;
}

#gallery .iframeholder {
  filter: grayscale();
  width: 400px;
  height: 400px;
  transition: all 180s;
}

#gallery .iframeholder:hover {
  filter: grayscale(0);
  transition: all 1s;
}

#photo-minigame {
  pointer-events: all;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.imageholder {
  justify-content: center;
  align-items: center;
  display: flex;
}

#pixelcamstart {
  cursor: pointer;
  transition: filter .5s;
}

#pixelcamstart:hover {
  filter: drop-shadow(5px 5px 0 var(--theme-3-primary)) drop-shadow(5px -5px 0 var(--theme-3-primary)) drop-shadow(-5px 5px 0 var(--theme-3-primary)) drop-shadow(-5px -5px 0 var(--theme-3-primary));
}

/*# sourceMappingURL=index.f66543a4.css.map */
