.music #music-control {
  display: block;
  transform: scale(1);
  bottom: 30px;
  top: auto;
  right: 0px;
  width: 100%;
  height: 80px;
  opacity: 100%;
  transition: right 1s ease-in, bottom 1s ease-in, opacity 1s ease-in;
}
.music #music-control.touched {
  display: block;
  transform: scale(1);
  bottom: 30px;
  top: auto;
  right: 0px;
  width: 100%;
  height: 80px;
}

#music-control {
  bottom: 30px;
  width: 100%;
  opacity: 0%;
  right: 0;
  pointer-events: none;
  position: fixed;
  display: block;
  transition: right 1s ease-in, bottom 1s ease-in, width 1s ease-in-out, transform 1s ease-in-out, opacity 1s ease-in-out;
  z-index: 0;
}

.music .touched .music-scale, .music .touched.music-scale {
  transform: scale(1);
  transition: 1s ease-in;
}

.touched .music-scale, .touched.music-scale {
  transform: scale(0.6);
  transition: 1s ease-in;
}

#music-control.touched {
  pointer-events: all;
  opacity: 100%;
  display: block;
  right: 0px;
  bottom: calc(100% - 60px);
  width: 100%;
  transition: right 1s ease-in, bottom 1s ease-in, width 1s ease-in-out, transform 1s ease-in-out, opacity 1s ease-in-out;
}

#record {
  display: block;
  position: fixed;
  transition: right 1.3s ease-in, bottom 1.3s ease-in, transform 1.3s ease-in;
  right: -600px;
  bottom: -600px;
  z-index: -4;
}

#record-outer {
  box-shadow: #875d87 0px 0px 80px;
  width: 340px;
  height: 340px;
  background-color: #0a0a0a;
  border-radius: 1000px;
  border: 120px solid #040404;
  animation: rotate linear 5s infinite;
}
#record-outer #image {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 150px;
  left: 50%;
  top: 50%;
  filter: brightness(100%);
  transform: translateX(-50%) translateY(-50%);
}
#record-outer::after {
  content: "";
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.music #record.touched {
  transition: right 1.3s ease-in, bottom 1.3s ease-in, transform 1.3s ease-in;
  right: -600px;
  bottom: -600px;
}
.music #record.touched.play {
  transition: right 1s ease-out, bottom 1s ease-out, transform 1s ease-out;
  right: -254px;
  bottom: -154px;
}

#record.touched {
  transition: right 1.3s ease-in, bottom 1.3s ease-in, transform 1.3s ease-in;
  right: -550px;
  bottom: 100%;
}
#record.touched.play {
  transition: right 1s ease-out, bottom 1s ease-out, transform 1s ease-out;
  right: -300px;
  bottom: calc(100% - 300px);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#next, #prev {
  cursor: pointer;
  pointer-events: all;
  margin: auto 0px auto 0px;
  opacity: 0%;
  display: block;
  transition: opacity 0.3s ease-in;
  height: 0px;
  width: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: transparent #9e469e transparent transparent;
  transition: background-color 0.2s ease-in, height 0.2s ease-in, transform 0.2s ease-in, opacity 1s ease-in, border-width 0.2s ease-in, border-color 0.2s ease-in, margin 0.8s ease-in;
}

.light #next, .light #prev {
  border-color: transparent #377d37 transparent transparent;
}

#next {
  transform: scaleX(-1);
}

.music #next {
  opacity: 100%;
  transform: scaleX(-1);
  border-width: 20px 34.64px 20px 0px;
  margin: auto 40px auto 40px;
}
.music #next::after {
  content: "";
  display: block;
  height: 0px;
  width: 0px;
  margin-top: auto;
  margin-bottom: auto;
  border-style: solid;
  border-width: 20px 34.64px 20px 0px;
  border-color: transparent var(--theme-2-primary) transparent transparent;
  transform: translateY(-20px);
  transition: border-color 0.2s ease-in;
}
.music #next:hover {
  height: 8px;
  transform: translateY(-4px) scaleX(-1);
}
.music #prev {
  opacity: 100%;
  border-width: 20px 34.64px 20px 0px;
  margin: auto 40px auto 40px;
}
.music #prev::after {
  content: "";
  display: block;
  height: 0px;
  width: 0px;
  margin-top: auto;
  margin-bottom: auto;
  border-style: solid;
  border-width: 20px 34.64px 20px 0px;
  border-color: transparent var(--theme-2-primary) transparent transparent;
  transform: translateY(-20px);
  transition: border-color 0.2s ease-in;
}
.music #prev:hover {
  height: 8px;
  transform: translateY(-4px);
}

#playpause-control {
  cursor: pointer;
  flex: 0 0 auto;
  display: block;
  position: relative;
  background-color: var(--theme-2-primary);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: #9e469e 0px 0px;
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in, transform 0.2s ease-in;
  pointer-events: all;
  transform: translateY(0px);
}
#playpause-control:hover {
  box-shadow: #9e469e 0px 8px;
  transform: translateY(-8px);
  transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
}
#playpause-control .playpause {
  position: relative;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 8px 8px 8px 8px;
  border-color: #9e469e;
  transform: translateX(-50%) translateY(-50%);
  transition: border-color 0.2s ease-in, border-width 0.2s ease-in, width 0.2s ease-in, height 0.2s ease-in;
}
#playpause-control .playpause.play {
  width: 0px;
  height: 0px;
  border-width: 12px 0px 12px 24px;
  border-color: transparent #9e469e transparent #9e469e;
  transition: border-color 0.2s ease-in, border-width 0.2s ease-in, width 0.2s ease-in, height 0.2s ease-in;
}

.music #music-nav {
  width: 100%;
  left: 0;
}

.music .touched #music-nav {
  width: 100%;
  left: 0;
}

.touched #music-nav {
  width: 60px;
  left: calc(100% - 60px);
}

#music-nav {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.light #music-control #playpause-control {
  box-shadow: #377d37 0px 0px;
}
.light #music-control #playpause-control .playpause {
  border-color: #377d37;
}
.light #music-control #playpause-control .playpause.play {
  border-color: transparent #377d37 transparent #377d37;
}
.light #music-control #playpause-control:hover {
  box-shadow: #377d37 0px 8px;
}

.light #record-outer {
  box-shadow: #496b49 0px 0px 80px;
}

.mainmusic {
  position: absolute;
  width: 100%;
  height: 100%;
}
.mainmusic .bouncy {
  width: 410px;
  display: block;
  position: absolute;
  left: 0%;
  z-index: -1;
}
.mainmusic .bouncy h1 {
  transition: color 0.5s ease-in, text-shadow 0.5s ease-in;
  color: var(--theme-2-primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 400px;
  text-shadow: #9e469e 20px 20px, #9e469e 18px 18px, #9e469e 16px 16px, #9e469e 14px 14px, #9e469e 12px 12px, #9e469e 10px 10px, #9e469e 8px 8px, #9e469e 6px 6px, #9e469e 4px 4px, #9e469e 2px 2px;
}
.mainmusic .bouncy h2 {
  position: relative;
  margin-bottom: 200px;
  transition: color 0.5s ease-in, text-shadow 0.5s ease-in;
  color: var(--theme-2-primary);
  font-family: Arial, Helvetica, sans-serif;
  left: 10px;
  font-size: 42px;
  text-shadow: #9e469e 2px 2px;
}
.mainmusic #music-player {
  position: relative;
  opacity: 0%;
  pointer-events: none;
}

.light .mainmusic .bouncy h1 {
  text-shadow: #377d37 20px 20px, #377d37 18px 18px, #377d37 16px 16px, #377d37 14px 14px, #377d37 12px 12px, #377d37 10px 10px, #377d37 8px 8px, #377d37 6px 6px, #377d37 4px 4px, #377d37 2px 2px;
}
.light .mainmusic h2 {
  text-shadow: #377d37 2px 2px;
}

.touched #bar-holder {
  opacity: 0;
}

.music .touched #bar-holder {
  opacity: 100%;
}

#bar-holder {
  position: relative;
  display: block;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 1s ease-in;
}

#progress-container {
  cursor: pointer;
  pointer-events: all;
  position: relative;
  display: block;
  border-radius: 5px;
  background: #694869;
  height: 6px;
  width: 100%;
  margin-bottom: 10px;
  transition: background 0.2s ease-in;
}

#progress {
  background: var(--theme-2-primary);
  width: 0%;
  height: 100%;
  transition: background 0.2s ease-in, width 33ms linear;
  border-radius: 5px;
}

#volume-container {
  cursor: pointer;
  pointer-events: all;
  position: relative;
  display: block;
  left: 100%;
  transform: translateX(-100%);
  border-radius: 5px;
  background: #694869;
  height: 6px;
  width: 10%;
  margin-top: 12px;
  transition: background 0.2s ease-in;
}

#volume {
  background: var(--theme-2-primary);
  width: 40%;
  height: 100%;
  transition: background 0.2s ease-in, width 0.1s linear;
  border-radius: 5px;
}

.light #progress-container {
  background: #354c35;
}

.light #volume-container {
  background: #354c35;
}

#others-section {
  margin-top: 20px;
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  gap: 2%;
  right: 5%;
  justify-content: right;
}

#sound_tracks {
  margin-top: 20px;
  display: flex;
  position: relative;
  margin-left: 500px;
  margin-right: auto;
  margin-bottom: 400px;
  height: auto;
  width: auto;
  gap: 5px;
  justify-content: left;
  flex-direction: column;
}

#sound_tracks div.item {
  cursor: pointer;
  height: auto;
  width: min(80%, 600px);
  pointer-events: all;
  background-color: rgba(207, 72, 207, 0.5);
  border-radius: 30px;
  border: solid;
  margin-bottom: 20px;
  border-width: 4px;
  overflow-wrap: break-word;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  box-shadow: #694869 0px 4px, #564256 0px 8px;
  color: var(--theme-2-primary);
  transition: 0.2s ease-in-out, opacity 0.1s linear;
}
#sound_tracks div.item:hover {
  border-width: 8px;
}

.light #sound_tracks div.item {
  background-color: rgba(48, 183, 48, 0.5);
  box-shadow: #354c35 0px 4px, #2d3b2d 0px 8px;
}

#sound_tracks div.item .title {
  font-size: 48px;
  text-align: left;
  margin-left: 10px;
  text-shadow: #694869 0px 4px;
}

#sound_tracks div.item .date {
  font-size: 24px;
  text-align: right;
  margin-right: 10px;
  text-shadow: #694869 0px 2px;
}

.light #sound_tracks div.item .title {
  text-shadow: #354c35 0px 4px;
}
.light #sound_tracks div.item .date {
  text-shadow: #354c35 0px 2px;
}

#sound_tracks div.item div.item {
  cursor: pointer;
  height: auto;
  width: 90%;
  inline-size: 90%;
  pointer-events: all;
  border-radius: 30px;
  border: solid;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 4px;
  overflow-wrap: break-word;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  color: var(--theme-2-primary);
  transition: 0.2s ease-in-out, opacity 0.1s linear;
}
#sound_tracks div.item div.item:hover {
  border-width: 8px;
}

.main-spacer {
  margin-top: 30%;
}

.downarrow {
  position: relative;
  height: 0px;
  width: 0px;
  margin-top: -10px;
  left: 500px;
  border-width: 282.84px 200px 0px 200px;
  border-style: solid;
  border-color: #9e469e transparent transparent transparent;
  transition: 0.2s ease-in-out;
}

.light .downarrow {
  border-color: #377d37 transparent transparent transparent;
}

#sound_tracks-title {
  position: relative;
  width: 550px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: bold;
  margin-left: 340px;
  margin-right: auto;
  padding-top: 200px;
  color: var(--theme-2-primary);
  text-shadow: #694869 4px 4px;
  z-index: -1;
  transform: color 0.2s ease-in;
}

.light #sound_tracks-title {
  text-shadow: #354c35 4px 4px;
}
.light #others-title {
  text-shadow: #354c35 -4px 4px;
}

#others-title {
  position: relative;
  width: 550px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 20px;
  padding-top: 200px;
  text-align: end;
  color: var(--theme-2-primary);
  text-shadow: #694869 -4px 4px;
  z-index: -1;
  transform: color 0.2s ease-in;
}

#mine_col {
  margin-bottom: 300px;
}

#illegal_col {
  margin-bottom: 300px;
}

#date_col {
  margin-bottom: 300px;
  margin-right: -10px;
}

.colspacer {
  height: 188px;
  width: 140px;
  color: var(--theme-2-primary);
  text-shadow: #694869 0px 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  opacity: 60%;
  text-align: end;
}

#audiocanvas {
  position: fixed;
  background: transparent;
}

.light .colspacer {
  text-shadow: #354c35 0px 2px;
}

div.song-info {
  color: var(--theme-2-primary);
  bottom: 24px;
  position: fixed;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  inline-size: 280px;
  overflow-wrap: break-word;
  font-weight: bolder;
  gap: 36px;
  width: 100%;
}

div.song-info #song-note {
  position: relative;
  font-size: 16px;
  bottom: -8px;
}

#others-section div.item {
  cursor: pointer;
  width: 100%;
  pointer-events: all;
  background-color: rgba(207, 72, 207, 0.5);
  border-radius: 30px;
  border: solid;
  margin-bottom: 50px;
  border-width: 4px;
  inline-size: 280px;
  overflow-wrap: break-word;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  box-shadow: #694869 0px 4px, #564256 0px 8px;
  color: var(--theme-2-primary);
  transition: 0.2s ease-in-out, opacity 0.1s linear;
}
#others-section div.item:hover {
  border-width: 8px;
}

#others-section div.checkboxitem {
  position: relative;
  cursor: pointer;
  pointer-events: all;
  left: calc(50% - 30px);
  max-width: 60px;
  height: 60px;
  width: 60px;
  background-color: rgba(207, 72, 207, 0.5);
  border-radius: 300px;
  border: solid;
  margin-bottom: 20px;
  border-width: 4px;
  inline-size: 280px;
  overflow-wrap: break-word;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  box-shadow: #694869 0px 4px, #564256 0px 8px;
  color: var(--theme-2-primary);
  transition: 0.2s ease-in-out, opacity 0.1s linear;
}
#others-section div.checkboxitem:hover {
  border-width: 8px;
}

#others-section div.active {
  background-color: rgba(207, 72, 207, 0.8);
  border: double;
  border-color: var(--theme-2-primary);
  border-width: 12px;
}

#others-section div.item.song {
  margin-bottom: 100px;
  height: 80px;
  background-position: center;
  vertical-align: middle;
}

#others-section div.item.song div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.light #others-section div.active {
  background-color: #cf48cf;
}

.light #others-section div.item {
  background-color: rgba(48, 183, 48, 0.5);
  text-shadow: #354c35 0px 10px;
  box-shadow: #354c35 0px 4px, #2d3b2d 0px 8px;
}

.light #others-section div.checkboxitem {
  background-color: rgba(48, 183, 48, 0.5);
  text-shadow: #354c35 0px 10px;
  box-shadow: #354c35 0px 4px, #2d3b2d 0px 8px;
}

#others-section div.soundtracks {
  animation: wiggle-float-l 3.2s ease-in-out 0s infinite;
}

#others-section div.mine {
  animation: wiggle-float-r 3.4s ease-in-out 0.8s infinite;
}

#others-section div.illegal {
  animation: wiggle-float-l 3.3s ease-in-out 0.3s infinite;
}

#soundtracks_col div.checkboxitem {
  animation: wiggle-float-r 3.5s ease-in-out 0.3s infinite;
}

#mine_col div.checkboxitem {
  animation: wiggle-float-l 3.2s ease-in-out 0.7s infinite;
}

#illegal_col div.checkboxitem {
  animation: wiggle-float-r 3.4s ease-in-out 0.4s infinite;
}

@keyframes wiggle-float-l {
  from {
    transform: translate(0, 0px) rotate(-5deg);
    text-shadow: rgba(129, 129, 129, 0.5) 0px 0px, rgba(129, 129, 129, 0.2) 0px 0px;
  }
  25% {
    text-shadow: rgba(129, 129, 129, 0.5) 0px -4px, rgba(129, 129, 129, 0.2) 0px -8px;
  }
  55% {
    transform: translate(0, 30px) rotate(5deg);
  }
  75% {
    text-shadow: rgba(129, 129, 129, 0.5) 0px 4px, rgba(129, 129, 129, 0.2) 0px 8px;
  }
  to {
    transform: translate(0, 0px) rotate(-5deg);
    text-shadow: rgba(129, 129, 129, 0.5) 0px 0px, rgba(129, 129, 129, 0.2) 0px 0px;
  }
}
@keyframes wiggle-float-r {
  from {
    transform: translate(0, 0px) rotate(5deg);
    text-shadow: rgba(129, 129, 129, 0.5) 0px 0px, rgba(129, 129, 129, 0.2) 0px 0px;
  }
  25% {
    text-shadow: rgba(129, 129, 129, 0.5) 0px -4px, rgba(129, 129, 129, 0.2) 0px -8px;
  }
  55% {
    transform: translate(0, 30px) rotate(-5deg);
  }
  75% {
    text-shadow: rgba(129, 129, 129, 0.5) 0px 4px, rgba(129, 129, 129, 0.2) 0px 8px;
  }
  to {
    transform: translate(0, 0px) rotate(5deg);
    text-shadow: rgba(129, 129, 129, 0.5) 0px 0px, rgba(129, 129, 129, 0.2) 0px 0px;
  }
}
/*# sourceMappingURL=music.6f029683.css.map */
